<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>E-commerce Solution </title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
   <div class="header">
      <div>
         <a href=""><i>Welcome to the E-commerce Soluion</i></a>
         <div class="search_wrap">
            <div class="search_box">
               <input type="text" class="input" placeholder="Ex. Eggs,Rokomary......">
                  <div class="btn btn_common">
                    <a href=""><i class="fas fa-search">Find</i></a>
                  </div>
            </div>
         </div>
      </div>
      <div style="padding-top: 10px;">
         <div class="button" style="display: inline;">
            <a href=""><i>Sign Up</i></a>
         </div>
         <div class="button" style="display: inline;">
            <a href=""><i>Log In</i></a>
         </div> 
   </div>
   </div>
   <div class="center-page">
      <div class="sidebar">
         <p class="recent-order-title">Recent Shop List</p>
         <div class="recent-order-lists">
            <%recentShops.forEach(shop => {%>
               <p class="recent-shop"><%=shop.name%></p>
            <%})%>
         </div>
      </div>
      <div class="shop-list">
         <%shops.forEach(shop => {%>
            <div class="shop">
               <img src="<%=shop.src%>" class="shop-image">
               <p class="shop-desc"><%=shop.name%></p>
               <p >Rating: <%=shop.rating%>/5</p>
            </div>
         <%})%>
      </div>
      <div class="sidebar">
         <p class="recent-order-title">bookmarked Shops</p>
         <div class="recent-order-lists">
            <%bookmarkedShops.forEach(shop => {%>
               <p class="bookmarked-shops"><%=shop.name%></p>
            <%})%>
         </div>
      </div>
   </div>
<footer>
   <div class="box">
      <p><i style ="text-align: center;text-shadow: 2px;">Contact Us </i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Phone: 0123456789</i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Eamil: ecommerce@gmail.com</i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Dhaka,Bangladesh</i></p>
   </div>
</footer>
</body>
</html>
