<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>E-commerce Solution </title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
   <nav class="nav">
      <a href="/" class="main-header">Ecommerce solution</a>
      <input class="search-bar" type="text" placeholder="Search.....">
      <div class="dropdown-container">
         <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
         <ul id="dropdown" class="dropdown">
            <%if(user) {%>
               <li><a href="/shop/create">New Shop</a></li>
               <li><a href="/user/<%=user.id%>"><%=user.name%></a></li>
               <li><a href="/auth/logout">Sign Out</a></li>
            <%} else {%>
               <li><a href="/auth/register">Sign Up</a></li>
               <li><a href="/auth/login">Sign In</a></li>
            <%}%>
         </ul>
      </div>
   </nav>
   <div class="main-body">
      <div class="sidebar">
         <p class="recent-order-title">Recent Shop List</p>
         <div class="recent-order-lists">
            <%recentShops.forEach(shop => {%>
               <p class="recent-shop"><%=shop.name%></p>
            <%})%>
         </div>
      </div>
      <div class="shop-list">
         <%shops.forEach(shop => {%>
            <a href="/shop/<%=shop.id%>">
               <div class="shop">
                  <img src="/images/<%=shop.image%>" class="shop-image">
                  <p class="shop-desc"><%=shop.name%></p>
                  <p >Rating: <%=shop.rating%>/5</p>
               </div>
            </a>
         <%})%>
      </div>
      <div class="sidebar">
         <p class="recent-order-title">bookmarked Shops</p>
         <div class="recent-order-lists">
            <%bookmarkedShops.forEach(shop => {%>
               <p class="bookmarked-shops"><%=shop.name%></p>
            <%})%>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="/js/script.js"></script>
<footer>
   <div class="box">
      <p><i style ="text-align: center;text-shadow: 2px;">Contact Us </i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Phone: 0123456789</i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Eamil: ecommerce@gmail.com</i></p>
      <p> <i style ="text-align: center;text-shadow: 2px;">Dhaka,Bangladesh</i></p>
   </div>
</footer>
</body>
</html>
