<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title><%=products[0].name%></title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/product.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">
</head>
<body>
   <nav class="nav">
      <a href="/" class="main-header">Ecommerce solution</a>
      <input class="search-bar" type="text" placeholder="Search.....">
      <div class="dropdown-container">
         <button id="dropdown-hamburger" class="dropdown-hamburger">&#9776;</button>
         <ul id="dropdown" class="dropdown">
            <%if(user) {%>
               <li><a href="/shop/<%=products[0].shops_id%>">Shop</a></li>
            <li><a href="/cart">My Cart</a></li>
               <li><a href="/auth/logout">Sign Out</a></li>
            <%} else {%>
               <li><a href="/auth/register">Sign Up</a></li>
               <li><a href="/auth/login">Sign In</a></li>
            <%}%>
         </ul>
      </div>
   </nav>
   <div class="main-body">
      <div class="mid-body">
         <h1 class="product-name"><%=products[0].productName%></h1>
         <div class="main-container">
            <div class="product-card" >
               <img class="product-image" src="/images/<%=products[0].image%>">
            </div>
            <div class="product-options">
               <div class="product-description-container">
                  <p class=""><%=products[0].productDescription%></p>
               </div>
               <select class="quantity" name="quantity" id="quantity">
                  <%for(let i = 1; i <= 10; ++i) {%>
                     <option value="<%=i%>"><%=i%></option>
                  <%}%>
               </select>
               <button id="add-to-cart" value="<%=products[0].productName%>" class="btn product-btn">ADD TO CART</button>
            </div>
         </div>
      </div>
      <%if(user) {%>
         <form class="comment-form">
            <textarea class="comment-text" id="comment-text" name="comment-text"></textarea>
            <input id="user" type="text" value="<%=user.name%>" hidden>
            <button class="btn comment-btn" id="comment-btn" type="button">comment</button>
         </form>
      <%}%>
      <div class="comment-container" id="comment-container">
         <%products.forEach(product => {%>
            <%if(product.username !== null) {%>
               <div class="comment">
                  <p class="comment-info"><%=product.username%> <span class="comment-time"><%=product.commentTime.toDateString()%> <%=product.commentTime.getHours()%>:<%=product.commentTime.getMinutes()%></span></p>
                  <p class="comment-content"><%=product.commentContent%></p>
               </div>
            <%}%>
         <%})%>
      </div>
   </div>
   <script type="text/javascript" src="/js/script.js"></script>
   <script type="text/javascript" src="/js/product.js"></script>
</body>
</html>
