<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title><%=product.name%></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/product.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav>
            <a href="/"><button class="btn">Home Page</button></a>
            <a href="/shop/<%=product.shops_id%>"><button class="btn">Shop Page</button></a>
        </nav>
        <h1 class="product-name"><%=product.name%></h1>
        <div class="main-container">
            <div class="product-card" >
                <img class="product-image" src="/images/<%=product.image%>">
            </div>
            <div class="product-options">
                <div class="product-description-container">
                    <p class=""><%=product.description%></p>
                </div>
                <input type="text" placeholder="Quantity">
                <button class="btn product-btn">
                    ADD TO CART
                </button>
            </div>
        </div>
    </body>
</html>
