<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="/css/shop.css">
   <title>Shop</title>
</head>
<body>
   <nav class="nav">
      <div class="header">
         <a href="/">Ecommerce solution</a>
      </div>
      <div class="nav-btn-container">
         <button class="btn nav-btn" id="add-product">Add Product</button>
      </div>
   </nav>
   <div class="main-content">
      <div class="shop-info">
         <p class="shop-name"><%=shop.name%></p>
      </div>
      <img class="shop-img" src="/images/<%=shop.image%>">
      <h1 class="product-heading">Our Products</h1>
      <div class="all-products">
         <%if(products.length) {%>
            <%products.forEach(prod => {%>
               <div class="product">
                  <a href="/product/<%=prod.id%>"><img class="product-image" src="/images/<%=prod.image%>"></a>
                  <a href="/product/<%=prod.id%>"><p class="product-name"><%=prod.name%></p></a>
                  <p class="product-price">Price: <%=prod.price%> Tk</p>
               </div>
            <%})%>
         <%} else {%>
            <h1>No Products were added yet.</h1>
         <%}%>
      </div>
   </div>
   <script type="text/javascript" src="/js/shop.js"></script>
</body>
</html>
